<nav
  style="background-color: #7f0000 !important"
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        height="50"
        width="50"
        class="img-fluid"
        src="../../../../assets/images/logoUNA.svg"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Favoritos</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
