<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <h1 class="text-center">Contactenos</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <app-contact-card
        [label]="'Email'"
        [icon]="'email'"
        [context]="'Pol@pol.com'"
      ></app-contact-card>
    </div>
    <div class="col-sm-12 col-md-4">
      <app-contact-card
        [label]="'Dirección'"
        [icon]="'place'"
        [context]="'21 calle Universitario'"
      ></app-contact-card>
    </div>
    <div class="col-sm-12 col-md-4">
      <app-contact-card
        [label]="'Teléfono'"
        [icon]="'local_phone'"
        [context]="'(021) 836 157'"
      ></app-contact-card>
    </div>
  </div>
</div>
