<footer
  style="background-color: #7f0000 !important"
  class="container-fluid d-flex align-items-center flex-column"
>
  <div
    style="width: 100%"
    class="d-flex justify-content-between align-items-center"
  >
    <div>
      <h6><a class="link-light" href="">Home</a></h6>
      <h6><a class="link-light" href="">Favoritos</a></h6>
      <h6><a class="link-light" href="">Perfil</a></h6>
    </div>

    <div>
      <img
        height="40px"
        width="40px"
        class="mx-1 img-fluid"
        src="../../../../assets/icons/facebook (1).svg"
        alt=""
      />
      <img
        height="40px"
        width="40px"
        class="mx-1 img-fluid"
        src="../../../../assets/icons/instagram.svg"
        alt=""
      />
      <img
        height="40px"
        width="40px"
        class="mx-1 img-fluid"
        src="../../../../assets/icons/gorjeo.svg"
        alt=""
      />
    </div>
  </div>

  <h6 class="my-2 text-white">Universidad Nacional de Asuncion @2021</h6>
</footer>
