<div class="container bg-light mt-4">
  <div class="row justify-content-sm-center">
    <div
      class="d-flex justify-content-center align-items-center rounded-circle"
      style="
        background-color: #7f0000;
        height: 80px !important;
        width: 80px !important;
      "
    >
      <i class="material-icons text-white fs-1">{{ icon }}</i>
    </div>

    <div class="col d-flex flex-column justify-content-center">
      <h5>{{ label }}</h5>
      <h6>{{ context }}</h6>
    </div>
  </div>
</div>
